@import url('https://fonts.googleapis.com/css2?family=Martel+Sans&family=Martel:wght@700&display=swap');

:root {
  --accent: #CA522D;
  --sans-serif: 'Martel Sans', sans-serif;
  --serif: 'Martel', sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
}
html {
    font-family: var(--sans-serif);
    color: #000;
}
body {
    margin-top: 10px;
}
header,
section {
    width: 100%;
    text-align: center;
}
section {
    margin-bottom: 5px;
}
ul {
    list-style: none;
}
main {
    display: flex;
    flex-wrap: wrap;
}



