@font-face {
    font-family: 'Martel';
    src: url('/fonts/Martel-Regular.woff2') format('woff2'),
        url('/fonts/Martel-Regular.woff') format('woff'),
        url('/fonts/Martel-Regular.ttf') format('truetype');
    
}
@font-face {
    font-family: 'Martel Sans';
    src: url('/fonts/MartelSans-Regular.woff2') format('woff2'),
        url('/fonts/MartelSans-Regular.woff') format('woff'),
        url('/fonts/MartelSans-Regular.ttf') format('truetype');
}

:root {
  --accent: #CA522D;
  --serif: 'Martel', serif;
  --sans-serif: 'Martel Sans', sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
}
html {
    font-family: var(--sans-serif);
    color: #000;
}
body {
    margin-top: 10px;
}
header,
section {
    width: 100%;
    text-align: center;
}
section {
    margin-bottom: 5px;
}
ul {
    list-style: none;
}
main {
    display: flex;
    flex-wrap: wrap;
}



